<h1><%= @car_model.name %></h1>
<dl>
    <dt><%= CarModel.human_attribute_name(:year) %></dt>
    <dd><%= @car_model.year %></dd>
    <dt><%= CarModel.human_attribute_name(:manufacturer) %></dt>
    <dd><%= @car_model.manufacturer  %></dd>
    <dt><%= CarModel.human_attribute_name(:motorization) %></dt>
    <dd><%= @car_model.motorization %></dd>
    <dt><%= CarModel.human_attribute_name(:car_category) %></dt>
    <dd><%= @car_model.car_category.name %></dd>
    <dt><%= CarModel.human_attribute_name(:fuel_type) %></dt>
    <dd><%= @car_model.fuel_type %></dd>
</dl> 